.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div1{
  border: 1px solid #000000;
  width:max-content;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

button.button{
  background-color: #169b16;
  height: 30px;
  width: 80%;
  border-radius: 5px;
  border: 0.5px solid #808080;
  transition: 0.5s;
}

button.button:hover{
  background-color: #ffffff;

}